@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body {
    /*background: #414558;*/
    /* background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(32, 2, 68) 100%); */
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(44, 9, 121) 35%, rgb(32, 2, 68) 100%);
    margin: 0;
}

.font-style {
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Acme', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Carter One', cursive;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
}

.container-element {
    display: grid;
    grid-gap: 15px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

.coantainer-celebration {
    display: grid;
    justify-content: unset;
    grid-template-columns: auto 1fr auto;
}
.rectangle {
    background:#ff50a7;
    text-align: center;
    color: white;
    font-size: 4vw;
    line-height: 4vw;
    display: grid;
    align-content: center;
}

.triangle-one {
     width: 0;
     height: 0;
     border-right: 6vw solid #f0ad4e00;
     border-top: 40px solid #ff50a7;
     border-bottom: 40px solid #ff50a7;
}

.triangle-two {
     width: 0;
     height: 0;
     border-left: 6vw solid #f0ad4e00;
     border-top: 40px solid #ff50a7;
     border-bottom: 40px solid #ff50a7;
}

.container-title {
    color:#ffb74a;
    font-size: 25px;
    text-align: center;
}


.container-led {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;

}

.circle {
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 2px;
    animation: led-one 5s infinite;

}

.new-circle {
    background: #1e1e1e;
    animation: led-two 2s infinite;
}
.content-img{
    display: grid;
    align-content: center;
}

img{
    /* animation: move 8s infinite; */
    animation: vertical 5s infinite;
    transform: translateY(100px);

}

@keyframes vertical{
    0% {
        transform: translateY(100px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(100px);
    }

}

/* @keyframes move { */
/*     from { */
/*         width: 200px; */
/*         opacity: 0; */
/*     } */
/*     to { */
/*         width: 400px; */
/*         opacity: 1; */
/*     } */
/* } */




@keyframes led-one {
    10%   {
          background-color: #ff9a00;
    }
    25% {
        background-color: #ff1bb1;
    }
    50% {
        background-color:  #1e1e1e;
    }
    /* 75% { */
    /*     background-color: #7bffec; */

    /* } */
    /* 100% {background-color:#ff00; */
    /* } */
}
@keyframes led-two {

    10%   {
          background-color: #05b020;
    }
    25% {
        background-color: #ff9a00;
    }
    50% {

        background-color:  white;
        width: 7px;
        height: 7px;
        border-radius: 3.5px;

    }
    /* 75% { */
    /*     background-color: #ff7bd2; */

    /* } */
    /* 100% {background-color:#ff00; */
    /* } */
}
